.navbar-nav .nav-item  {
    margin-right: 20px;
    margin-left: 20px;
  }

  /* list transitions */
.list-enter-from,
.list-leave-to {
  opacity: 0;
  transform: scale(0.6);
}
.list-enter-to,
.list-leave-from {
  opacity: 1;
  transform: scale(1);
}
.list-enter-active {
  transition: all 0.4s ease;
}
.list-leave-active {
  transition: all 0.4s ease;
  position: absolute;
}

.list-move {
  transition: all 0.3s ease;
}



/* Small devices (landscape phones, 576px and up) */
  @media (min-width: 576px) { }
  
/* Medium devices (tablets, 768px and up) */
  @media (min-width: 768px) {
    .contactFormContainer{
      position: relative;
    }
    .contactForm{
      position:fixed;
      width: 20rem;
    }
   }
  
/* Large devices (desktops, 992px and up) */
  @media (min-width: 992px) {
    .contactForm{
      width: 25rem;
    }
   }
  
/* X-Large devices (large desktops, 1200px and up) */
  @media (min-width: 1200px) { }
  
/* XX-Large devices (larger desktops, 1400px and up) */
  @media (min-width: 1400px) { }